* {
  box-sizing: border-box;
}
.containe__inbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #fff59b;
  width: 100vh;
  height: 100%;
}
.prueba2 {
  font-size: 25px;
  color: brown;
}
ul {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  margin: 0 auto;
  font-size: 20px;
  padding: 5vh 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 3vh 0;
}
